html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include flex(column);
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $c-white;
  color: $c-grey-9;
  font-family: $font-sans;
  font-size: $fz-base;
  line-height: 1;
}

::selection {
  background-color: $c-yellow;
}

main {
  flex-grow: 1;
  color: $c-grey-7;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $c-black;
  }
}

header,
footer,
main {
  padding: 50px;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

svg {
  fill: currentColor;
}

a,
button {
  cursor: pointer;
  color: $c-black;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: '' counter(start-from, decimal-leading-zero) '. ';
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* Tags */
.tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  font-family: $font-mono;
  padding: 5px;
  margin-left: 10px;
  background-color: $c-grey-7;
  color: $c-white;
  border-radius: 3px;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
