@mixin flex($direction: 'row') {
  display: flex;

  @if $direction == 'column' {
    flex-direction: $direction;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}
