$c-black: #000000;
$c-white: #ffffff;

$c-grey-1: #f7fafc;
$c-grey-2: #edf2f7;
$c-grey-3: #e2e8f0;
$c-grey-4: #cbd5e0;
$c-grey-5: #a0aec0;
$c-grey-6: #718096;
$c-grey-7: #4a5568;
$c-grey-8: #2d3748;
$c-grey-9: #1a202c;

$c-yellow: #ffff00;

$font-sans: Calibre, system-ui, sans-serif;
$font-mono: SF Mono, Consolas, Menlo, Monaco, monospace;

$fz-base: 20px;

$xxs: 380px;
$xs: 450px;
$sm: 600px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1800px;
