<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%- if title -%}{{ title ~ ' | ' ~ metadata.title }}{% else %}{{ metadata.title }}{% endif %}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="stylesheet" href="/assets/styles/app.css">
  </head>

  <body>
    {% include "header.njk" %}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <script src="/assets/scripts/app.js" defer></script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
